@import url(https://fonts.googleapis.com/css?family=Lato:700,900);

// Style personnalisé


// Media queries

@media all and (max-device-width: 860px) {

    /* Vos règles CSS pour les tablettes ici */
    body {
        width: 100%;
    }

    #logo {
        padding: 8.5rem;
        justify-content: center;
        flex-grow: 1;

    }

    .logo {
        // padding-top: 32rem;
        width: auto;
        height: auto;
        flex-grow: 1;
        justify-content: center;

    }

    .logoufolep {
        width: 200px;
        height: 100px;
    }

    .card-group {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .nav-link {
        font-size: 9px;
    }

    .navbar-nav {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .navbar-toggler-icon {
        justify-content: center;
    }

    .img-rounded {
        height: 150px;
        width: 230px;
    }

    #title1 {
        font-size: 24px;
        // justify-content: center;
        text-align: center;
        width: auto;
        height: auto;
        flex-grow: 1;
    }

    .map1 {
        width: 600px;
        height: 450px;
        flex-wrap: wrap;
        flex-direction: row;
        // width="600" height="450" 
    }

}

@media all and (max-device-width: 480px) {

    // regles pour mobiles ici 

    .title1 {
        width: auto;
        height: auto;
    }

    #logo1 {
        font-size: 20px;

    }

    .img-rounded {
        height: 200px;
        width: 320px;
    }

    .map1 {
        width: 250px;
        height: 250px;
        flex-wrap: wrap;
        flex-direction: row;
    }

}

// fin des media queries.


#menu2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 99;
    flex-basis: auto;
    min-width: 300px;

}

#menu1 {
    background-color: rgb(255, 255, 255);
    height: 100%;
    justify-content: center;
    padding: 8px 8px 8px 8px;
}

#logo {
  
    padding: 3rem;
 

}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #E00A11 no-repeat fixed;
    background: -webkit-linear-gradient(to top, #243B55, #E00A11) no-repeat fixed;
    background: linear-gradient(to top, #E00A11, #141E30) no-repeat fixed;

}

.footer {
 
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);

}

main {
    // background: url('img/Background/background-body2.jpg') no-repeat center fixed; pas utilisé !
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */

    min-height: 100%;
    margin: 0 auto;


}

.link {
    background-color: #3DA98B;
    transition: all 0.8s;
}

.card-body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

#nav-menu-cadenas {
    margin-right: 0.5rem;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

// animations

h1.font-weight-bold {
    min-height: 280px;
    font-size: 7rem;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: -10px 0 17px 0;
    color: #ffffff !important;
    text-shadow: 0 13.36px 8.896px #000000, 0 -2px 25px #BE0502;
    letter-spacing: -4px;
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(30deg);
        transform: scale(0.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }

    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    70% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.jackInTheBox {
    -webkit-animation-name: jackInTheBox;
    animation-name: jackInTheBox;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    animation-name: lightSpeedIn;
    animation-duration: 6s;
}

h2.formulaire {

    font-size: 36px;
    animation-name: lightSpeedIn;
    animation-duration: 6s;
}

div.formulaire {
    font-size: 18px;
}

div.pageForm {
    background-color: #3DA98B;
}

@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


.logo1 {
    animation-name: jackInTheBox;
    animation-duration: 3s;
    transition: all 0.8s;

}

.logo1 :hover {
    transform: scale(1.2);

}


.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}



.responsive {
    width: 100%;
    height: auto;
    max-width: 600px;
    animation-duration: 3s;
    transition: all 0.8s;
}

.responsive :hover {
    transform: scale(1.2);
}

// formulaire de contact
.contact {
    font-size: 18px;
}

#licence {
    background-color: #3DA98B;
}
