@import url(https://fonts.googleapis.com/css?family=Lato:700,900);

// * {
//     background-color: rgba(0, 0, 0, 0.2);
// }

@media all and (max-device-width: 860px)
{

  /* Vos règles CSS pour les mobiles ici */
  body{
    width: 100%;
}
    #logo{
        padding: 8.5rem;
        justify-content: center;

    }
    .logo{
        // padding-top: 32rem;
        width: auto;
        height: auto;
        flex-grow: 1;
        justify-content: center;

      }
      .logoufolep{
        width: 200px;
        height: 100px;
      }
      .card-group{
        flex-wrap: wrap;
        flex-direction: row;
      }

    .nav-link{
        font-size: 9px;
    }
    .navbar-nav{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .navbar-toggler-icon{
        justify-content: center;
    }
.img-rounded{
    height: 150px;
    width: 230px;
}
  #title1{
    font-size: 24px;
    // justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    flex-grow: 1;
  }

}
@media all and (max-device-width: 480px)
{
  .title1{
    width: auto;
    height: auto;
    flex-grow: 1;
    justify-content: center;
  }
  #logo1{
    font-size: 8px;

  }
  .img-rounded{
    height: 200px;
    width: 320px;
}

}

#menu2{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 99;

}

#menu1 {
    background-color:  rgb(55, 149, 212);
    justify-content: center;
    padding: 0px 0px 0px 0px;
    border: 1px solid;
}

#logo{

    padding: 3rem;
//   background-color: rgb(20, 116, 180)

}

body{
    width: 100%;
}

  .footer{
    //   position: relative;
      bottom: 0;
      width: 100%;
      background-color:  rgb(20, 116, 180);

  }

  main{
        background: url('img/Background/Volleyball_ball3.jpg') no-repeat center fixed;
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
    //   max-width: 1280px;
      min-height: 100%;
      margin:0 auto;
    //   position: relative;

  }
  a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }
  .card-body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

  }

  #nav-menu-cadenas{
      margin-right: 0.5rem ;
  }

  .img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
  }

  // animations

  h1.font-weight-bold{
    // min-width: 280px;
    min-height: 280px;
    font-size: 5rem;
    animation-name: jackInTheBox;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 11px 0 17px 0;
    color: #ffffff !important;
    text-shadow: 0 13.36px 8.896px #000000,0 -2px 25px #BE0502;
  /* #c4b59d */
  letter-spacing: -4px;
  }

  @keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(30deg);
      transform: scale(0.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }

    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }

    70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }

    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  .jackInTheBox {
    -webkit-animation-name: jackInTheBox;
    animation-name: jackInTheBox;
  }

  h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    animation-name:lightSpeedIn;
    animation-duration: 6s;
  }

  @-webkit-keyframes lightSpeedIn {
    from {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }

    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }

    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes lightSpeedIn {
    from {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }

    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }

    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

.logo1{
    animation-name:flip;
    animation-duration: 5s;
}

  @-webkit-keyframes flip {
    from {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    40% {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    50% {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    80% {
      -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    to {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }

  @keyframes flip {
    from {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    40% {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    50% {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    80% {
      -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    to {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }

  .animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
  }

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
  }
